In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
a =5

In [ ]:
a

5

In [ ]:
print(a)

5

In [ ]:
a = "string"
print(a)

string

In [ ]:
print(a)

string

In [ ]:
a=5
b=4
print(a)
print(b)

5
4

In [ ]:
if 5>3:
  print("greater")

greater

In [ ]:
if 5>4:
  print("5 is greater than 4")

5 is greater than 4

In [17]:
for i in range(1,5):
  print(i*2)

2
4
6
8

In [18]:
l = [1,2,3,4]
l

[1, 2, 3, 4]

In [19]:
type(l)

list

In [20]:
l = [[1,2,3,4],[12,56,6,6],[7,7,7,7]]

In [21]:
import numpy as np

In [22]:
m = [1,2,"india",8.0]

In [23]:
m

[1, 2, 'india', 8.0]

In [25]:
#slicing
l = [1,2,3,4,5,6,7]
l[1:5]

[2, 3, 4, 5]

In [26]:
#indexing
l[-1]

7

In [28]:
l[-2:]

[6, 7]

In [33]:
l = ["india", "australia", "england"]
l[0][0]

'i'

In [30]:
l[-1]

'england'

In [31]:
l[2]

'england'

In [32]:
l[2]==l[-1]

True

In [35]:
# boolean > < ==
l.insert(1, "sri lanka")
l

['india', 'sri lanka', 'sri lanka', 'australia', 'england']

In [36]:
l.pop()

'england'

In [37]:
import pandas as pd

In [38]:
from google.colab import files
uploaded = files.upload()

Saving nba.csv to nba.csv

In [42]:
import io
df= pd.read_csv(io.BytesIO(uploaded["nba.csv"]))
df.head(10)

            Name            Team  Number  ... Weight            College      Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas   7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette   6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University         NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State   1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN   5000000.0
5   Amir Johnson  Boston Celtics    90.0  ...  240.0                NaN  12000000.0
6  Jordan Mickey  Boston Celtics    55.0  ...  235.0                LSU   1170960.0
7   Kelly Olynyk  Boston Celtics    41.0  ...  238.0            Gonzaga   2165160.0
8   Terry Rozier  Boston Celtics    12.0  ...  190.0         Louisville   1824360.0
9   Marcus Smart  Boston Celtics    36.0  ...  220.0     Oklahoma State   3431040.0

[10 rows x 9 columns]

In [43]:
df.tail()

             Name       Team  Number Position  ...  Height Weight  College     Salary
453  Shelvin Mack  Utah Jazz     8.0       PG  ...     6-3  203.0   Butler  2433333.0
454     Raul Neto  Utah Jazz    25.0       PG  ...     6-1  179.0      NaN   900000.0
455  Tibor Pleiss  Utah Jazz    21.0        C  ...     7-3  256.0      NaN  2900000.0
456   Jeff Withey  Utah Jazz    24.0        C  ...     7-0  231.0   Kansas   947276.0
457           NaN        NaN     NaN      NaN  ...     NaN    NaN      NaN        NaN

[5 rows x 9 columns]

In [45]:
df.shape

(458, 9)

In [46]:
df.size

4122

In [47]:
df.describe

<bound method NDFrame.describe of               Name            Team  ...            College     Salary
0    Avery Bradley  Boston Celtics  ...              Texas  7730337.0
1      Jae Crowder  Boston Celtics  ...          Marquette  6796117.0
2     John Holland  Boston Celtics  ...  Boston University        NaN
3      R.J. Hunter  Boston Celtics  ...      Georgia State  1148640.0
4    Jonas Jerebko  Boston Celtics  ...                NaN  5000000.0
..             ...             ...  ...                ...        ...
453   Shelvin Mack       Utah Jazz  ...             Butler  2433333.0
454      Raul Neto       Utah Jazz  ...                NaN   900000.0
455   Tibor Pleiss       Utah Jazz  ...                NaN  2900000.0
456    Jeff Withey       Utah Jazz  ...             Kansas   947276.0
457            NaN             NaN  ...                NaN        NaN

[458 rows x 9 columns]>